nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.nav h1,
.nav h1 a {
  font-size: 40px;
  color: blueviolet;
  margin: 0;
}
.nav-search {
  display: flex;
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}
input {
  flex: 1;
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 35px;
  border-right: none;
}

button {
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 35px;
}
ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding-left: 15px;
  padding-top: 15px;
  text-decoration: none;
}
ul li a {
  text-decoration: none;
  color: blueviolet;
}
ul li a:hover {
  color: #000;
  cursor: pointer;
}
ul li a.active {
  color: #533a53;
}
.search-results {
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-search li {
  padding: 5px;
  border: 1px solid #ddd;
}
.suggested-search li a {
  cursor: pointer;
  color: blueviolet;
}
