<div class="product-list">
  <h1>Product List</h1>
  <p class="message-p">{{ productMessage }}</p>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td data-label="Image"><img src="{{ item.image }}" /></td>
        <td data-label="Name">{{ item.name }}</td>
        <td data-label="Price">{{ item.price }}</td>
        <td data-label="Color">{{ item.color }}</td>
        <td data-label="Category">{{ item.category }}</td>
        <td data-label="Description">{{ item.description }}</td>
        <td data-label="Action">
          <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
          <a
            class="adjust-update-link"
            routerLink="/seller-update-product/{{ item.id }}"
          >
            <fa-icon [icon]="iconEdit"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
