<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Seller Sign Up</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="common-form"
      method="POST"
      action="#"
    >
      <input
        type="text"
        class="form-input"
        placeholder="Enter Name"
        name="name"
        required
        ngModel
      />
      <input
        type="email"
        class="form-input"
        placeholder="Enter Email"
        name="email"
        required
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Enter Password"
        name="password"
        required
        ngModel
      />

      <button type="submit" class="form-button">Sign Up</button>
      <p style="cursor: pointer" class="auth-toogle-link" (click)="openLogin()">
        Already have an account? Login
      </p>
    </form>
  </div>
  <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      class="common-form"
      method="POST"
      action="#"
    >
      <input
        type="email"
        class="form-input"
        placeholder="Enter Email"
        name="email"
        required
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Enter Password"
        name="password"
        required
        ngModel
      />

      <button type="submit" class="form-button">Login</button>
      <p
        style="cursor: pointer"
        class="auth-toogle-link"
        st
        (click)="openSignUp()"
      >
        Don't have an account? Sign Up
      </p>
    </form>
  </div>
</div>
