<div class="user-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>User Signup</h1>
    <form
      #userSignUp="ngForm"
      class="common-form"
      (ngSubmit)="signUp(userSignUp.value)"
      method="POST"
      action="#"
    >
      <input
        type="text"
        class="form-input"
        name="name"
        placeholder="Enter User Name"
        required
        #name="ngModel"
        minlength="2"
        maxlength="20"
        ngModel
      />
      <input
        type="email"
        class="form-input"
        name="email"
        placeholder="Enter User Email"
        required
        ngModel
        #email="ngModel"
      /><input
        type="password"
        class="form-input"
        name="password"
        placeholder="Enter User Password"
        required
        #password="ngModel"
        minlength="2"
        maxlength="20"
        ngModel
      />
      <button type="submit" class="form-button">Sign Up</button>
      <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
    </form>
  </div>
  <div *ngIf="showLogin" class="login">
    <h1>User Login</h1>
    <form
      #userLogin="ngForm"
      class="common-form"
      (ngSubmit)="login(userLogin.value)"
      method="POST"
      action="#"
    >
      <p class="error-p">{{ authError }}</p>
      <input
        type="email"
        class="form-input"
        name="email"
        placeholder="Enter User Email"
        ngModel
        email
        #email="ngModel"
        required
      />
      <p class="invalid-input">
        <span *ngIf="email.invalid && email.touched"
          >Please enter valid input</span
        >
      </p>
      <input
        type="password"
        class="form-input"
        name="password"
        placeholder="Enter User Password"
        ngModel
        minlength="2"
        maxlength="20"
        #password="ngModel"
        required
      />
      <p class="invalid-input">
        <span *ngIf="password.invalid && password.touched"
          >Please enter valid input</span
        >
      </p>
      <button type="submit" [disabled]="userLogin.invalid" class="form-button">
        Login
      </button>
      <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
    </form>
  </div>
</div>
