template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.carousel {
  margin-bottom: 50px;
}

.product-image {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}
.product-details {
  flex-grow: 1;
  padding: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 8px;
}
.product-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-item {
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-item img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

.product-item .product-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.product-item .name-head {
  font-size: 20px;
  font-weight: 600;
}
.product-item h6 {
  text-align: center;
}
.product-item .product-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.product-footer a {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

/* ***************************Media Queries*********************************** */

@media (max-width: 576px) {
  .product-image {
    height: 250px;
  }

  .carousel-caption {
    top: 60% !important;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    text-align: center;
  }

  .carousel-caption h3 {
    font-size: 16px; /* صغر العنوان */
    margin: 0;
  }

  .carousel-caption p {
    font-size: 12px; /* صغر الوصف */
    margin: 5px 0 0 0;
  }

  .product-item img {
    max-height: 200px;
  }
}

/*  Tablet */
@media (min-width: 577px) and (max-width: 992px) {
  .product-image {
    height: 300px;
  }
}
